body{
    background-image: url(weather.jpg);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.content{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.content h1{
    font-size: 100px;
}

.content h2{
    margin-top: 0;
    font-size: 40px;
}

.error{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    width: 300px;
    height: 200px;
    margin-top: 5rem;
    border-radius: 10px;
}

input{
    align-items: center;
    width: 400px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 10px;
    background: transparent;
}

button{
    border-radius: 10px;
    width: 200px;
    padding: 5px;
    font-weight: bold;
    font-size: 25px;
}

.inp{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}

p{
    font-weight: bold;
}

.row-city{
    display: flex;
    justify-content: center;
}

.row-info{
    margin-left: 10rem;
    margin-right: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.autocomplete {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    width: 600px;
  }
  
  .autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
  }
  
  /*when hovering an item:*/
  .autocomplete-items div:hover {
    background-color: #e9e9e9; 
  }
  
  /*when navigating through the items using the arrow keys:*/
  .autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
  }